/* General stylings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    scroll-behavior: smooth;
}


.header-color{
    color: #333333;
}

.text-color{
    color: #4f4f4f;
}

.white-color{
    color: #fff;
}

.purple-color{
    color: #362F74;
}

.normal-text{
    font-size: 1.5rem;
}


/* main section  */
 /* left section */
 .left-holder{
    padding: 4% 4% 5% 8%;
    background-color: #D7D5E3;
    background-image: url(../../images/Ellipse1.svg), url(../../images/Ellipse2.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 10% top -1%, left -1% bottom -14%;
    background-size: 80%, 40%;
    min-height: 100vh;
 }



 .header{
     overflow-y: hidden;
     margin-bottom: 7%;
     margin-top: 17%;
 }



 /* right section */
 .right-holder{
    padding: 4% 10% 5% 6%;
    background-image: url(../../images/polygon.svg);
    background-position: right 0% top 0%;
    background-size: 41.6%;
    background-repeat: no-repeat;
 }
.smaller-text{
    color: #828282;
    font-size: 0.7rem;
}


.btn-holder{
    padding-top: 0;
    padding-left: 5%;
}


.right-logo{
    display: none;
}

.back-holder{
    margin-top: 6%;
}

.back-btn{
    font-size: 1rem;
    background-color: #362F74;
    border: none;
    padding: 2% 10% !important;

}


.type-header{
    font-size:1.5rem
}

.acct-holder1{
    margin-bottom: 4%;
    padding-right: 3%;
    overflow-y: hidden !important;
}

.acct-details{
    margin:2% 0;
    box-shadow: 0 4px 8px 0 rgba(58, 42, 42, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 4px 8px 0 rgba(58, 42, 42, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 4px 8px 0 rgba(58, 42, 42, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 4px 8px 0 rgba(58, 42, 42, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    height: 95% !important;
    overflow-y: hidden !important;
}

.acct-header{
    border: 1px solid #ececec;
    padding: 4% 5%;
}

.acct-body{
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    
    padding: 12% 2%;
    
}

.choose-btn{
    font-size: 1rem;
    background-color: #362F74;
    border: none;
    padding: 3% 20%;
    position: relative;
}

.choose-btn:hover{
    background-color: #2C284F;
}

.cmp-btn{
    margin-bottom: 8%;
}

.arrow{
    position: absolute;
    top: 35%;
    right: 18%;
}

h4{
    overflow-y: hidden;
}

.select-row{
    padding: 0 4% 0 0;
}

.btn:active{
    outline: 0 !important;
}


/* media queries */
@media  only screen and (max-width:767px){
    .right-logo{
        display: block;
    }

    .left-holder{
        display: none;
    }

    .right-holder{
        padding: 4% 3% 5% 13% !important;
    }

    .select-card{
        width: 93%;
        padding: 3% 1%;
    }

    .back-btn{
        padding: 4% 12% !important;
    }

    .back-holder{
        margin-top: 12%;
    }

    .choose-btn{
        padding: 10% 15%;
    }

    .ad-type{
        padding-top: 3%;
    }

    .header{
        margin-top: 30%;
    }

    .choose-btn{
        padding: 3% 20%;
        position: relative;
    }

    .arrow{
        position: absolute;
        top: 40%;
        right: 20% !important;
        
    }

    .select-row{
        padding: 0 7% 0 0;
    }

    .acct-details{
        height: 300px !important;
    }

}

@media  only screen and (max-width:1200px){
    .arrow{
        right: 12%;
    }
}



