* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text-font: 'Source Sans Pro', sans-serif;
  --white-color: #fff;
  --title-color: #333333;
  --text-color: #4f4f4f;
  --purple-color: #362F74;
  --hover: #2C284F;
  --border-color: #F8F8F8;
  --faint-grey: #D0C9D6;
  --bg-color: #D7D5E3;
}

/* main content */


.content {

  background: var(--white-color);

}

.content2 {
  background: var(--bg-color);
}

.section-wrap {
  background-image: url(/envatoweb-FE/FE_PAGES/assets/images/Ellipse1-details.svg), url(/envatoweb-FE/FE_PAGES/assets/images/Ellipse2-details.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 10% top -1%, left -1% bottom -14%;
  background-size: 80%, 40%;

  min-height: 100vh;

}

.section-wrap2 {
  background-image: url(/envatoweb-FE/FE_PAGES/assets/images/polygon-details.svg);
  background-position: right 0% top 0%;
  background-size: 41.6%;
  background-repeat: no-repeat;
}

/* left side */



.left-title {
  font-family: var(--title-color);
  font-weight: 600;
  line-height: 64px;
  font-size: 1.5rem;
}

.left-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 35px;
  color: var(--text-color);
}



/* form section */
.btnn {

  color: var(--white-color);
  font-weight: 600;
  font-family: var(--text-font);
  padding: 1rem;

}

.btn {
  transition: all .3s linear;
}


.w-40 {
  width: 100%;
}


.form-check-input {

  margin-top: 0.47rem;

}

.btn-submit {
  color: var(--white-color);
  background: var(--purple-color);
  width: 127.79px;
  height: 55.05px;
  border-radius: 5px;
  transition: all .3s linear;
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 1.089rem;
  line-height: 26px;
}


.btn:hover {
  background: var(--hover);
  color: var(--white-color);
}

.btn:active,
.btn:hover {
  outline: 0;
  box-shadow: none;
}

.form-control {
  width: 100%;
  height: 50px;
  background: rgba(214, 214, 214, 0.44);
  border: 1.65306px solid var(--border-color);
  border-radius: 8.26531px;
}


.form-control:active,
.form-control:hover,
.form-control:focus {
  outline: 0;
  box-shadow: none;

}

.label {
  font-family: var(--text-color);
  font-weight: normal;
  font-size: 1rem;
  color: var(--text-color);
  line-height: 30px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  transition: background-color 5000s ease-in-out 0s;

}


.form-group {
  position: relative;
}