/* MEDIA QUERIES FOR 768PX AND ABOVE */
/* Only use the breakpoint necessary to your project */

@media all and (min-width:768px) {
  .section-wrap {
    background-position: left 10% top 0%, left -1% bottom -14%;
    background-size: 80%, 40%;
  }

  .mt-16 {
    margin-top: 8rem;
  }

  .mt-17 {
    margin-top: 12rem !important;
  }

}

@media all and (min-width:992px) {
  .section-wrap {
    background-position: left 70% top 0%, left -1% bottom -14%;
    background-size: 80%, 40%;
  }

  .section-wrap2 {
    background-position: right 0% top 0px;
    background-size: 41.6%;
  }

  .btnn {
    font-size: 1rem;
  }

  .form-title {
    font-size: 3.188rem;

  }

  .w-40 {
    width: 48%;
  }

  .sign-up {
    font-size: 1.5rem;
  }

  .left-title {
    font-size: 2.1rem;
  }

  .left-text {
    font-size: 1.5rem;
  }



}

@media all and (min-width:1200px) {
  .section-wrap2 {
    background-position: right 0% top 0px;
    background-size: 41.6%;
  }
}

@media all and (min-width:2560px) {
  .section-wrap {
    background-position: left 10% top 0%, left -1% bottom -14%;
    background-size: 80%, 40%;
  }

  .section-wrap2 {
    background-position: right 0% top 0px;
    background-size: 41.6%;
  }

  .mt-17 {
    margin-top: 27rem !important;
  }

  .mt-16 {
    margin-top: 29rem !important;
  }
}