
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* variables */
:root{
    --primary: #333;
    --secondary: #362f74;
    --light: #333333b3;
    --green: #3BC76A;
    --gray-shade: #c4c4c480;
    --gray-tint: #C4C4C4;
}

/* utility classes */
.text_primary{
    color: var(--primary);
}
.text_secondary{
    color: var(--secondary);
}
.text_light{
    color: var(--light);
}
.text_smaller{
    font-size: 0.625rem;
    line-height: 0.813rem;
}
.text_small{
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.text_normal{
    font-size: .8rem;
    line-height: 1rem;
}
.text_large{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000;
}
.text_larger{
    font-size: 1.25rem;
    line-height: 1.563rem;
}
.text_caption{
    font-size: 1.25rem;
    line-height: 1.7rem;
}
@media screen and (min-width: 400px){
    .text_normal{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .text_large{
        font-size: 1.125rem;
        line-height: 1.438rem;
    }
    .text_caption{
        font-size: 1.438rem;
        line-height: 2.063rem;
    }
}
.bg_secondary{
    background-color: var(--secondary);
}
.bg_shade{
    background-color: var(--gray-shade);
}
.bg_tint{
    background-color: var(--gray-tint);
}
hr{
    border: 2px solid rgba(0, 0, 0, 0.08);
}

/* Main styles */
#upload-campaign{
    padding: 2rem 0 0;
}
@media screen and (min-width:576px){
    #upload-campaign{
        padding: 2rem 2rem 0;
    }
}
@media screen and (min-width: 768px){
    #upload-campaign{
        padding: 2rem 3.75rem 0;
    }
}
#upload-campaign .progress{
    width: 100%;
    height: 0.25rem;
    background-color: #ECF1F5;
}
@media screen and (min-width: 576px){
    #upload-campaign .progress{
        width: 12.5rem;
    }
}
#upload-campaign .progress-bar{
    background-color: var(--green);
}

/* you can do away with these styles */
.wrapper{
    width: 100%;
    border: 1px solid var(--light);
}
@media screen and (min-width: 576px){
    .wrapper{
      width: 18.75rem;
    }
}

#page-navigation button{
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}
/* BODY STYLING */
.main-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #212529;
    
}
.main-para{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(51, 51, 51, 0.7);
}
select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }

select:focus,
input[type="text"]:focus {
      border: 1px solid #333;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
}
.hrule{
    margin-top: 16rem;
}
  
@media (min-width: 300px) and (max-width:600px){
select,
.redirect {	 
    display: block;
   	width: 100% !important;
    height: 55px;
    background-color: inherit;
    border: 1px solid rgba(51, 51, 51, 0.7);
    border-radius: 3px;
    box-sizing: border-box;
   	padding: 13px 15px; 
     margin-bottom: 30px;  	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 } 
 .brnodisplay{
   display: none;
 }
 .divider{
	height: 2px;
	background-color: rgba(0, 0, 0, 0.08);
 }
 .page-navigation button{
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}
}

@media (min-width: 600px) and (max-width:768px){
select,
.redirect {	 
   width: 100% !important;
  height: 55px;
  border: 1px solid rgba(51, 51, 51, 0.7);
  background-color: inherit;
  border-radius: 3px;
  box-sizing: border-box;
   padding: 13px 15px; 
  margin-bottom: 30px;  	
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} 
.brnodisplay{
  display: none;
}
.divider{
	height: 2px;
	background-color: rgba(0, 0, 0, 0.08);
 }
 .page-navigation button{
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}
}
@media (min-width: 768px) and (max-width:991px){
    select,
    .redirect {	 
       width: 100% !important;
      height: 55px;
      border: 1px solid rgba(51, 51, 51, 0.7);
      background-color: inherit;
      border-radius: 3px;
      box-sizing: border-box;
       padding: 13px 15px; 
      margin-bottom: 30px;  	
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    } 
    .brnodisplay{
      display: none;
    }
    .divider{
        height: 2px;
        background-color: rgba(0, 0, 0, 0.08);
     }
     .page-navigation button{
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: 5px;
    }
    }
  
@media (min-width: 992px) {
select,
.redirect {	 
	width:700px !important;
    height: 55px;
    border: 1px solid rgba(51, 51, 51, 0.7);
    background-color: inherit;
    border-radius: 3px;
    box-sizing: border-box;
   	padding: 13px 15px; 
	margin-bottom: 30px;  	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 } 
.divider{
	height: 2px;
	background-color: rgba(0, 0, 0, 0.08);
 }
 .page-navigation button{
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}
}
  
  
@media (min-width: 1200px) {
select,
.redirect {	 
  	width: 700px !important;
    height: 55px;
    border: 1px solid rgba(51, 51, 51, 0.7);
    background-color: inherit;
    border-radius: 3px;
    box-sizing: border-box;
   	padding: 13px 15px; 
	margin-bottom: 30px;  	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 .page-navigation button{
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}
  
 
/** ROOT STYLES **/
:root
	{
		--accentColor:	#362F74;
		--accentColor2: #F58B11;
		--progressBar: #3BC76A;
		--titleSubText: rgba(51, 51, 51, 0.7);
	}

/** UNIVERSAL STYLE **/
*
	{
		margin: 0;
		box-sizing: border-box;
		font-family: 'Source Sans Pro', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #333333;
	}
select,
.redirect {	 
	width:700px !important;
    height: 55px;
    border: 1px solid rgba(51, 51, 51, 0.7);
    background-color: inherit;
    border-radius: 3px;
    box-sizing: border-box;
   	padding: 13px 15px; 
	margin-bottom: 30px;  	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
} 