/* MEDIA QUERIES FOR 768PX AND ABOVE */
/* Only use the breakpoint necessary to your project */

@media (max-width: 768px) {
  .form-title {
    font-size: 2rem;
  }
}

@media all and (min-width: 768px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%,
      right -13% top -106px;
    background-size: 42%, 15%, 35%;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .form-title {
    font-size: 2.4rem;
  }

  .form-container form {
    width: 150% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    transform: translateX(-18%);
  }
}

@media all and (min-width: 992px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%,
      right -13% top -153px;
    background-size: 42%, 15%, 35%;
  }

  .form-title {
    font-size: 2.3rem;
  }

  .rem {
    font-size: 1.125rem;
  }

  .btn-submit {
    font-size: 1rem;
  }

  input::placeholder {
    font-size: 1.125rem;
  }

  .reset-text {
    font-size: 1.125rem;
  }

  .sign-up,
  .alt {
    font-size: 1.125rem;
  }
}

@media all and (min-width: 1200px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%,
      right -13% top -210px;
    background-size: 42%, 15%, 35%;
  }

  /* form section */
  .form {
    margin-top: 4rem;
  }
}

@media all and (min-width: 2560px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%,
      right -13% top -387px;
    background-size: 42%, 15%, 35%;
  }
}

@media (min-width: 1440px) {
  .form-title {
    font-size: 3rem;
  }

  .form-img img {
    width: 400px;
  }
  .info-text {
    margin: 1.4rem 0 !important;
  }

  .info-text,
  .message p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .form-container form {
    width: 140% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    transform: translateX(-18%);
  }

  .btn {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }
}
