:root {
  --primary-color: #362f74;
}
/*General Styling*/
html, body {
  position: relative;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.2px;
  color: #181818;
}
p {
  font-size: 1rem;
  color: #7C7C7C;
  font-weight: 400;
}
.form-control:active,
.form-control:hover,
.form-control:focus {
  outline: 0;
  box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*Buttons*/
.btn {
  font-size: 1rem;
}
.btn-primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
}
.btn-primary:hover {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-return {
  background: transparent;
  border: 1px solid var(--primary-color);
  font-weight: 600;
  color: var(--primary-color);
}
.btn-return:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #FFFFFF;
}


/*Main section styling*/
section {
  background-image: url(../../images/Ellipse1.svg), url(../../images/Ellipse2.svg), url(../../images/polygon.svg), url('../images/../Rectangle 10.svg'), url('../images/../Ellipse 3.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 10% top -1%, left -1% bottom -3%, right -13% top -5%, left -20% top 0, left -0% bottom -20%;
  background-size: 56%, 42%, 52% 100%, 80%, 20%;
  background-attachment: fixed;
  min-height: 100vh;
}
.password-card {
  background: #FFFFFF;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
}
.form-control {
  background: rgba(232, 226, 226, 0.44);
  border: 1.65306px solid #F8F8F8;
}


/*Media Query*/
@media screen and (min-width: 768px) {
  section {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -106px, left 0% top 0, left -0% bottom -20%;
    background-size: 42%, 15%, 35%, 50%, 20%;
  }
}
@media screen and (min-width: 992px) {

  section {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -153px, left 0% top 0, left -0% bottom -50%;
    background-size: 42%, 15%, 35%, 50%, 20%;
  }
}
@media all and (min-width:1200px) {
  section {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -210px, left 0% top 0, left -0% bottom -50%;
    background-size: 42%, 15%, 35%, 50%, 20%;
  }
}