/* MEDIA QUERIES FOR 768PX AND ABOVE */
/* Only use the breakpoint necessary to your project */

@media all and (min-width:768px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%;
    background-size: 42%, 15%, 35%;
  }

  .left-title {
    font-size: 2rem;
  }

  .left-text {
    font-size: 1.125rem;
  }

}

@media all and (min-width:992px) {
  .section-wrap {
    background-position: left 70% top -8%, left -1% bottom -3%;
    background-size: 80%, 15%, 35%;
  }

  .section-wrap2 {
    background-position: right -13% top -104px;
    background-size: 65%;
  }

  .btnn {
    font-size: 1rem;
  }

  .form-title {
    font-size: 3.188rem;

  }

  .w-40 {
    width: 48%;
  }

  .login-text {
    font-size: 1.5rem;
  }

  .label {
    font-size: 1.5rem;
  }


  .rem {
    font-size: 1.5rem;
  }


  .reset-text {
    font-size: 1.5rem;
  }

  .sign-up,
  .alt {
    font-size: 1.5rem;
  }

  .left-title {
    font-size: 2.5rem;
  }

  .left-text {
    font-size: 1.75rem;
  }



}

@media all and (min-width:1200px) {
  .section-wrap2 {
    background-position: right -13% top -150px;
    background-size: 65%;
  }
}

@media all and (min-width:2560px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -387px;
    background-size: 42%, 15%, 35%;
  }

  .form-full {
    margin-top: 10rem;
  }
}