* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text-font: 'Source Sans Pro', sans-serif;
  --white-color: #fff;
  --title-color: #181818;
  --blackish: #333333;
  --text-color: #7C7C7C;
  --blue-color: #0075FF;
  --hover: #0052B3;
  --border-color: #F8F8F8;
  --faint-grey: #D0C9D6;
  --red-color: #EB5757;
  --dark-blue: #104B91;
  ;
}

/* main content */


.content {

  background: var(--white-color);

}

.content2 {
  background: #D5F5E2;
}

.section-wrap {
  background-image: url(../../images/Ellipse1.svg), url(../../images/Ellipse2.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 10% top -1%, left -1% bottom -3%, right -13% top -5%;
  background-size: 56%, 42%, 52%;

  min-height: 100vh;

}

.section-wrap2 {
  background-image: url(../../images/polygon.svg);

  background-position: right -13% top -5%;
  background-size: 52%;

  background-repeat: no-repeat;
}

/* form section */
.btnn {

  color: var(--white-color);
  font-weight: 600;
  font-family: var(--text-font);
  padding: 1rem;

}

.btn {
  transition: all .3s linear;
}

.btn-google {
  background: var(--red-color);

}

.btn-fb {
  background: var(--dark-blue);
}

.w-40 {
  width: 100%;
}


.form-check-input {

  margin-top: 0.47rem;

}

.form-title {
  font-size: 2.1rem;
  font-family: var(--text-font);
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.001em;

}

.login-text {
  line-height: 30px;
}

.login-text,
.rem {
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 1rem;
  color: var(--text-color);
}

.btn-submit {
  color: var(--white-color);
  background: var(--blue-color);
  width: 127.79px;
  height: 55.05px;
  border-radius: 5px;
  transition: all .3s linear;
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 1.089rem;
  line-height: 26px;
}

.social-signin {
  width: 100%;

}

.btn:hover {
  background: var(--hover);
  color: var(--white-color);
}

.btn-google:hover {
  opacity: 0.9;
  background: var(--red-color);
}

.btn:active,
.btn:hover {
  outline: 0;
  box-shadow: none;
}

.form-control {
  width: 100%;
  height: 64.47px;
  background: rgba(214, 214, 214, 0.44);
  border: 1.65306px solid var(--border-color);
  border-radius: 8.26531px;
}


.form-control:active,
.form-control:hover,
.form-control:focus {
  outline: 0;
  box-shadow: none;

}

.label {
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 1.125rem;
  color: var(--text-color);
  line-height: 30px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  transition: background-color 5000s ease-in-out 0s;

}

.pa-eye {
  color: var(--faint-grey);
  cursor: pointer;
  margin-left: 90%;

}

.form-group {
  position: relative;
}

.form-group i {
  position: absolute;
  top: 60%;
}

.reset-text {
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: var(--blue-color);
}

.sign-up,
.alt {
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  color: var(--text-color);

}

.inner-sign {
  color: var(--blue-color);
}

/* right side */
.title {
  color: var(--red-color);
}

.info-icon {
  font-size: 2rem;
}

.left-title {
  font-family: var(--text-font);
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}

.left-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 35px;
  color: var(--blackish);
}

.inner-left-text {
  color: var(--blue-color);
}

.signup-btn {
  color: var(--blue-color);
  border: 1px solid #0075FF;
  background: transparent;

}

.mt-17 {
  margin-top: 17rem;
}