* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{
  --ff-primary: 'Source Sans Pro', sans-serif;
  --fc-secondary:  #362F74;
  --fc-tertiary: black;
  --clr-form: #BDBDBD;
  --sideBar-primary-color: #b9b9b9;
  --sideBar-secondary-color: #f5f6fa;
  --sideBar-active: #362f74;  
  --clr-bg-desktop: #D5F5E2;
  --clr-bg: #ffffff;
  --clr-hover:  #0052B3;
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),  0.125em 0.125em 0.25em rgba(0,0,0,.15);

}
html{
  scroll-behavior: smooth;
}
body{
  font-family: var(--ff-primary);
  background-color: var(--sideBar-secondary-color);
  transition: ease-in 0.5s all;
}


a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: var(--fc-secondary);
  text-decoration: none;
}

.side-bar__name:hover,
.side-bar__name:active {
  font-weight: 600;
  color: var(--sideBar-active);
}

.logo {
  max-width: 70%;
}

/*Small screens*/
.navbar-light .navbar-toggler-icon {
  background-image: url("../../images/hamburger\ menu.svg");
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.profile-picture {
  max-width: 40%;
}

.sidebar {
  position: relative;
  transition: all .2s linear;
}

.sidebar > * {
  padding: 0 20px;
}

/* Utility classes */
.mt-xl {
  margin: 27px 0;
}

.sidebar__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  width: 100px;
}

.sidebar__input:focus,
.sidebar__input:active {
  border-bottom-color:var(--sideBar-active);
 }

.sidebar__input::placeholder {
  color: var(--sideBar-primary-color);
}

.dashboard-icon {
  height: 20px;
  fill: var(--sideBar-primary-color);
}

/* Active state */
.icon-active {
  fill: var(--sideBar-active);
}

.header,
.main-content > header {
  background-color: var(--sideBar-secondary-color);
}

.nav-link-active {
  font-weight: 600;
  color: var(--sideBar-active) !important;
}

.side-bar__name,
.side-bar__sign-out {
  color: var(--sideBar-primary-color);
}

.side-bar__name {
  margin-top: 3px;
}

.sign-icon {
  stroke: var(--sideBar-primary-color);
}

.sidebar__link--sign-out {
  bottom: 20px;
}

/*Big screens*/
/*Hamburger menu*/
.hamburger-button {
  background-color: transparent;
  border: none;
}

.hamburger-button:focus {
  outline: 1px solid var(--sideBar-active);
}

.hamburger-menu {
  width: 30px;
}

.mobile-search {
  position: relative;
}

.mobile-search__input {
  border-radius: 99999px;
  width: 100%;
  background-color: transparent;
  padding: 3px 10px ;
  border: none;
  border: 1px solid #b9b9b9;
}

.mobile-search__input::placeholder {
  font-family: inherit;
}

.mobile-search__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#withdrawal-form{
  background-color: var(--clr-bg);
}

.withdraw-form-control{
 border-radius: 0;
 border: 1px solid var(--clr-form);
 color: var(--clr-form);
}
.withdraw-form-control:focus-within{
 color: var(--fc-secondary);
}

.inner-btn{
  position: relative;
}

.inner-btn button{
  position: absolute;
  right: 5%;
  top: 10%;
  background-color: transparent;
  border: none;
  color: var(--fc-secondary);
  padding: 0.2rem 0.5rem;
  transition: ease 0.5s all;
}
.inner-btn button:hover{
  background-color: var(--clr-hover);
  color: var(--clr-bg);
  border-radius: 5px;
  

}

#withdraw-now-btn{
  background-color: var(--fc-secondary);
  border-radius: 5px;
  transition: ease 0.5s all;
  border: none;
}
#withdraw-now-btn:hover{
  background-color: var(--clr-hover);
  box-shadow: var(--bs);
}
.required{
  font-weight: 600;
}
.required:before {
  content:"*";
  color: red;
}

.sidebar {
  background-color: var(--fc-secondary);
}

.header__link-list-active::after {
  border-bottom: 4px solid var(--fc-secondary);
}

/* FOOTER STARTS  */
.footer-link {
  color: #362f74;
}

/* MEDIA QUERIES  */
@media (min-width: 768px) {
  
  .sidebar {
    width: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
  }

  .nav-link-active::after {
    content: '';
    width: 15px;
    height: 25px;
    border-right: 3px solid var(--sideBar-active);
    position: absolute;
    right: 0;
  }

  .container-custom {
    max-width: 1400px;
    margin: 0 auto;
  }

  .main-content {
    margin-left: 200px;
    background-color: var(--sideBar-secondary-color);
  }

  .collapse-sidebar {
    overflow-x: hidden;
  }

  .collapse-sidebar .sidebar {
    position: relative;
    width: 50px;
  }

  
  .collapse-sidebar .sidebar__icon-active::after {
    content:  '';
    position: absolute;
    width: 15px;
    height: 25px;
    border-right: 3px solid var(--sideBar-active);
    right: 0;
  }

  .collapse-sidebar .aside-logo,
  .collapse-sidebar .side-bar__name,
  .collapse-sidebar .sidebar__input {
    display: none;
  }

  .collapse-sidebar .sidebar > * {
    padding: 0 14px;
  }

  .collapse-sidebar .main-content {
    margin-left: 50px;
  }
}


@media all and (min-width:992px) {
.sidebar__list-active {
  background-color: #f0f7ff;
  color: var(--fc-secondary);
}
     
}

@media all and (min-width:1200px) {
  :root{
    --fs-label: 19px;
    --fs-input: 18px;
  
  }
  .required{
    font-size: var(--fs-label);
  }
  .withdraw-form-control{
    font-size: var(--fs-input);
   }
}