@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0075FF;
    --secondary-color: #BDBDBD;
    --aux-color: #FFFFFF;
    --main-color: #FFFFFF;
    --text-color: #EB5757;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Source Sans Pro',
        sans-serif !important;
}

aside a:hover {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

.header__link-list-active::after {
    width: 45px;
}


.pricing {
    margin-top: 90px;
    margin-bottom: 30px;
}

.card-deck .card {
    border-radius: 10px !important;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
}

.card-deck .card-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
}

.card p {
    padding: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 156%;
    color: #362F74;
}

.bg-basic {
    background: #362F74;
}

.card .standard {
    background: #6B62BF;
}

.card .enterprise {
    background: #483BBF;
}

.card .card-title {
    font-style: normal;
    font-weight: 600;
}

.price-card-title {
    font-size: 40px;
    color: #362F74 !important;
}

.card .choose {
    background: #362F74;
    color: #FFF;
    width: 140px;
    height: 38px;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

    .card .choose {
        width: 300px !important;
        height: 55px;
        padding-top: 0.8em;
        margin-bottom: 8px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

    .card .choose {
        width: 220px !important;
        height: 50px;
        padding-top: 0.5em;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1199.98px) {

    .main-body {
        margin-left: 200px;
        padding-right: 40px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 768px) {

    .card-deck {
        display: flex;
        flex-direction: column !important;
    }

    .card-deck .card {
        margin-bottom: 12px;
    }

    .card .choose {
        height: 50px;
        padding-top: 0.5em;
        margin-bottom: 15px;
    }

}
