/* MAIN STYLE SHEET FOR: ENVATO WEB : PUBLISHER OVERVIEW */

:root {
	--main-font: sans-serif;
	--primary-color: #362f74;
	--background-blue: #f0f7ff;
	--secondary-blue: #362f74;
	--text-grey: #7c7c7c;
	--background-black: #080013;
	--white: #ffffff;
}

/* =================================================== */
/* =============== 1. Universal Styles =============== */
/* =================================================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: sans-serif;
}
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-color: var(--background-blue);
}
img {
	width: 100%;
	height: auto;
}
a:hover {
	text-decoration: none;
}
.col {
	min-width: auto !important;
}
.card {
	border: none !important;
}
/* =================================================== */
/* ============= 2. Profile Card Styles ============== */
/* =================================================== */
.profile_card {
	background-color: var(--white) !important;
	box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px !important;
}
.profile_card .card-footer {
	background-color: var(--white) !important;
}
.img-container {
	width: 30%;
	border-radius: 50%;
	height: 7rem;
}
.content {
	width: 80%;
}
.main_text {
	font-size: 1.8rem;
	color: var(--primary-color);
	line-height: 40px;
	margin-bottom: 0 !important;
}
.light_text {
	font-size: 0.9rem;
	color: var(--text-grey);
	margin-bottom: 0 !important;
}
#stars {
	transform: translateY(-0.2rem);
}
.profile_info2 p {
	margin-bottom: 0 !important;
}
.mail_link {
	text-decoration: underline;
	color: var(--secondary-blue);
	font-size: 0.8rem;
	margin-bottom: 0 !important;
}
.mail_link:hover {
	text-decoration: underline;
}
.tags {
	width: 7rem;
	background-color: #f2f2f2;
	border-radius: 5px;
	height: 2rem;
}
.tags p {
	margin-bottom: auto !important;
	margin-top: auto !important;
}
.edit {
	background-color: var(--primary-color);
	color: var(--white);
	border-radius: 5px;
	padding: 0.6rem 1rem;
}
.edit:hover,
.edit:focus,
.edit:active {
	text-decoration: none;
	background-color: #1f1a4e;
	transition: all 0.6s;
	color: var(--white);
}
/* Card Footer */
.card-footer {
	border-top: 2px solid #c4c4c4 !important;
}
.card-footer h2 {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--primary-color);
	margin-bottom: 1rem;
}
.social_icon_container div{
	width: 60%;
}
.social_icon_container .second_row {
	width: 40%;
}
.social_icons {
	width: 2.7rem !important;
}
h6.light_text {
	margin-bottom: 0 !important;
}
.hidden {
	display: none !important;
}
/* =================================================== */
/* ============= 3. Activity Card Styles ============= */
/* =================================================== */
.activity_card {
	background-color: var(--white) !important;
	box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px !important;
	overflow: hidden;
}
.top h4 {
	font-size: 1.2rem;
	color: var(--text-grey);
	font-weight: 600;
	margin-bottom: 0 !important;
	z-index: 1;
}
.activity_icon {
	padding: 1.5rem;
	border-radius: 50%;
	background-color: #f0f7ff;
	transition: all 0.8s;
}
.activity_card:hover .card-body .top div {
	box-shadow: 0 0 0 30vw #362f74;
	transition: all 0.8s;
}
.activity_card:hover .card-body .top h4,
.activity_card:hover .card-body .middle h2,
.activity_card:hover .card-body .bottom p.light_text {
	color: var(--white);
}

.middle {
	margin-top: 0.3rem;
	margin-bottom: 2rem;
}
.middle h2 {
	font-size: 2rem;
	color: var(--text-grey);
	font-weight: 600;
	margin-bottom: 0 !important;
}
.percent,
.percent_green {
	margin-bottom: 0 !important;
	font-size: 1.1rem;
	font-weight: 500;
}
.percent {
	color: #ea001b;
}
.percent_green {
	color: #3bc76a;
}
.bottom p.light_text {
	margin-bottom: 0 !important;
}

/* =================================================== */
/* =============== 4. Chart Card Styles ============== */
/* =================================================== */

.pie,
.bar {
	width: 50%;
}
.top_pie,
.top_bar,
.progress_top {
	border-bottom: 2px solid #c4c4c4;
	padding: 0.6rem;
}
.top_pie h3,
.top_bar h3,
.progress_bars h3 {
	color: #f58b11;
}
.pie_description h3 {
	font-size: 2rem;
	color: #362f74;
}
.pie_description h3.right {
	border-left: 1px solid #c4c4c4;
}
.pie_description h4 {
	margin: 0 !important;
	border-bottom: 1px solid #c4c4c4;
}
.doughnut_chart,
.bar_chart {
	width: 80%;
	margin-top: 1rem;
}
.ct-bar {
	stroke-width: 25px;
}
.ct-series-a .ct-slice-donut {
	/* give the donut slice a custom colour */
	stroke: #f58b11;
}
.ct-series-b .ct-slice-donut {
	stroke: #eef2f7;
}
.ct-series-a .ct-bar {
	/* give the donut slice a custom colour */
	stroke: #362f74;
}
.ct-horizontal {
	stroke: #4d9dff00;
	stroke-width: 1px;
	stroke-dasharray: none !important;
}
.ct-vertical {
	stroke: #4d9dff00;
	stroke-width: 1px;
	stroke-dasharray: none !important;
}
.ct-label.ct-vertical.ct-start {
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-grey);
}
.progress_bars p {
	margin-bottom: 0 !important;
	font-weight: 600;
	color: #7c7c7c !important;
}
.progress {
	width: 90%;
	height: 0.5rem !important;
	border-radius: 10px !important;
}
.progress-bar {
	background-color: var(--primary-color) !important;
}
.owl-dot.active span {
	background: var(--primary-color) !important;
}
.owl-dot span {
	border: 1px solid var(--primary-color);
	background: none !important;
}
.owl-dots {
	display: flex;
	justify-content: center;
}
.owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
}

/* =================================================== */
/* ================= 5. Media Queries ================ */
/* =================================================== */

@media screen and (max-width: 998px) {
	.edit {
		display: none;
	}
	#stars {
		width: 1rem !important;
		transform: translateY(-0.1rem);
		margin-left: 5px;
	}
}
@media screen and (max-width: 900px) {
	.social_icons {
		width: 2.5vw !important;
	}
}
@media screen and (max-width: 767px) {
	.edit {
		display: none;
	}
	.main_text {
		font-size: 1.5rem;
		line-height: 20px;
	}
	.sub_head {
		font-size: 1.2rem !important;
	}
	.light_text {
		font-size: 1rem;
	}
	.sub_text {
		font-size: 0.8rem !important;
		margin-bottom: 0 !important;
	}
	.img_container {
		width: 170px !important;
		margin-left: auto;
		margin-right: auto !important;
		margin-bottom: 2rem;
	}
	#stars {
		width: 0.8rem !important;
		margin-top: 0.3rem !important;
	}
	.hidden {
		display: flex !important;
	}

	.tags {
		width: 5rem;
		height: 1.5rem;
	}
	.tags p {
		font-size: 0.6rem;
	}
	.location_img {
		width: 0.6rem;
	}
	.card-footer {
		border-top: 1px solid #c4c4c4 !important;
	}

	/* === ACTIVITY Card ===== */
	
	.activity_card{
		box-shadow: none !important;
	}
	.activity_card:hover .card-body .top div {
		box-shadow: 0 0 0 80vw #362f74;
		transition: all 0.8s;
	}
	.activity_icon {
		padding: 1.5rem;
	}
	/* ==== Chart And Progress Bars === */
	.chart_body {
		flex-direction: column;
	}
	.social_icon_container {
		flex-direction: column;
	}
	.social_icons {
		width: 1.5rem;
	}
	.second_row {
		justify-content: space-between;
		margin-top: 0.8rem;
	}
	.social_icon_container div {
		width: 100%;
	}
	.social_icon_container .second_row {
		width: 100%;
	}
	.social_icons {
		width: 2rem !important;
	}
	.pie,
	.bar {
		width: 100%;
	}
	.pie {
		margin-bottom: 1rem;
	}
	.progress {
		width: 75%;
	}
	.main_profile {
		flex-direction: column !important;
	}
	.content {
		width: 100%;
	}
	.ct-bar {
		stroke-width: 15px;
	}
	.ct-slice-donut {
		stroke-width: 30px !important;
	}
	#slide {
		margin-left: 0 !important;
	}
	/*.owl-item div {
		padding-left: 6px !important;
		padding-right: 6px !important;
	}*/
	.activity_col {
		padding-left: 1px !important;
		padding-right: 1px !important;
	}
}
@media screen and (max-width: 543px) {
	#stars {
		width: 0.5rem !important;
		margin-top: 0.2rem !important;
	}
	.img_container {
		width: 140px !important;
	}
	.main_text {
		font-size: 4rem;
		line-height: 20px;
	}
	.sub_head {
		font-size: 1.2rem !important;
	}
	.light_text {
		font-size: 0.9rem;
	}

	.social_icons {
		width: 1.5rem !important;
	}

	.activity_icon {
		padding: 1.2rem;
		width: 22%;
	}
	.top h4 {
		font-size: 1rem;
	}
	.middle {
		margin-bottom: 1.4rem;
	}
	.middle h2 {
		font-size: 1.8rem;
	}
	.top_pie,
	.top_bar,
	.progress_top {
		border-bottom: 1px solid #c4c4c4;
		padding: 0.6rem;
	}

	.ct-bar {
		stroke-width: 10px;
	}
	.ct-slice-donut {
		stroke-width: 20px;
	}
	.progress {
		height: 0.3rem !important;
	}
}
@media screen and (max-width: 375px) {
	#stars {
		width: 0.3rem !important;
		margin-top: 0.2rem !important;
	}
	.img_container {
		width: 100px !important;
	}
	.main_text {
		font-size: 3.5rem;
		line-height: 15px;
	}
	.sub_head {
		font-size: 1rem !important;
	}
	.sub_text {
		font-size: 0.7rem !important;
	}
	.mail_link {
		font-size: 0.7rem;
	}
	.card-footer {
		padding: 2vw;
	}
	.card-footer h2 {
		margin-left: 1rem;
	}
	.tags {
		width: 3.7rem;
		height: 1.5rem;
	}
	.tags p {
		font-size: 0.5rem;
	}
	.light_text {
		font-size: 0.65rem;
	}
	.social_icons {
		width: 0.8rem !important;
	}
	.activity_icon {
		padding: 1.1rem;
		width: 23%;
	}
	.top h4 {
		font-size: 0.9rem;
	}
	.middle {
		margin-bottom: 1.1rem;
	}
	.middle h2 {
		font-size: 1.5rem;
	}
	.percent,
	.percent_green {
		font-size: 0.8rem;
	}
	.ct-label.ct-vertical.ct-start {
		font-size: 0.8rem;
	}
	.ct-bar {
		stroke-width: 10px;
	}
	.ct-slice-donut {
		stroke-width: 20px;
	}
	.progress {
		height: 0.3rem !important;
	}
}
@media screen and (max-width: 330px) {
	.profile_info1 div.align-items-center {
		flex-direction: column;
	}
	.profile_info1 h2.sub_head,
	.profile_info1 p.sub_text {
		margin-bottom: 0.5rem !important;
	}
	.profile_info1 div.text-right {
		flex-direction: column;
		align-items: center;
		margin-top: 1rem !important;
	}
	#stars {
		width: 0.4rem !important;
		margin-top: -0.3rem !important;
	}
	.profile_info2 {
		margin: 0 !important;
		justify-content: center;
	}
	.profile_info3 {
		margin: 0.3rem !important;
		justify-content: center !important;
	}
	.card-footer h2 {
		margin-left: 0rem;
		text-align: center;
	}
	.social_icon_container .col {
		padding-left: 1px !important;
		padding-right: 1px !important;
	}
}

