:root {
  --primary-color: #363F74;
  --secondary-color: #F58B11;
  --dark-green: #219653;
  --shade-of-green: #F0F7FF;
  --text-title-color: #333333;
  --text-body-color: #3A3A3A;
  --muted: #c4c4c4;
}

body {
  color: var(--primary-color);
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3.25rem;
  font-weight: 600;
}

h2 {
  color: var(--text-body-color);
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 1.125rem;
}

table {
  background-color: #fff;
}

th {
  width: max-content;
}

.btn {
  border-radius: 5px;
  border: none;
  padding: 0 2.1875rem;
  height: 3.5625rem;
  min-width: 12.3125rem;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-tetiary {
  border: 1.5px solid #3a3a3ab3;
  border-radius: 5px;
  font-weight: 400;
}

.dropdown-menu {
  width: 28.5rem;
  z-index: 999999999;
}

.check-complete.custom-control-input:checked~.custom-control-label::before {
  color: var(--dark-green);
  border-color: var(--dark-green);
  background-color: rgba(59, 199, 106, 0.6);
}

.custom-switch .check-complete.custom-control-input:checked~.custom-control-label::after {
  background-color: var(--dark-green);
}

.check-complete.custom-control-label {
  color: var(--dark-green);
}

.pagination li {
  margin-right: 0.35rem;
}

.pagination li a {
  background-color: var(--muted);
  color: #fff;
  border-radius: 5px;
}

.page-item.active .page-link {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}


@media(max-width: 576px) {

  html, body {
    max-width: 100vw;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .dropdown-menu {
    max-width: 75vw;
  }

  .dropdown-menu .btn {
    width: 100%;
  }

  .dropdown-menu .form-check {
    width: fit-content;
  }

  .btn {
    height: 2.375rem;
  }

  .btn-sm {
    min-width: 0;
    width: 8.75rem;
    padding: 0;
    font-size: 0.75rem;
  }

  #section a {
    font-size: 0.75rem;
  }

}