:root {
  --primary-color: #0075FF;
}
html, body {
  position: relative;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.2px;
  color: #181818;
}
p {
  font-size: 1rem;
  color: #7C7C7C;
  font-weight: 400;
}
/*Buttons*/
.btn-primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
}
.svg {
  position: absolute;
  top: 0;
  right: -200px;
}
section {
  background-image: url(../images/Ellipse1.svg), url(../images/Ellipse2.svg), url(../images/polygon.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 10% top -1%, left -1% bottom -3%, right -13% top -5%;
  background-size: 56%, 42%, 52%;
  background-attachment: fixed;
  min-height: 100vh;
}
.password-card {
  background: #FFFFFF;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
}
.form-control {
  background: rgba(232, 226, 226, 0.44);
  border: 1.65306px solid #F8F8F8;
}

@media screen and (min-width: 768px) {
  section {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -106px;
    background-size: 42%, 15%, 35%;
  }
}
@media screen and (min-width: 992px) {

  section {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -153px;
    background-size: 42%, 15%, 35%;
  }
}
@media all and (min-width:1200px) {
  section {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -210px;
    background-size: 42%, 15%, 35%;
  }
}