@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0075FF;
    --secondary-color: #BDBDBD;
    --aux-color: #FFFFFF;
    --main-color: #F0F7FF;
    --text-color: #EB5757;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background: var(--main-color);
    font-family: 'Source Sans Pro',
        sans-serif !important;
}


.inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: var(--aux-color);
    border-radius: 20px;
    padding: 20px;
    margin-top: 80px;

    display: flex;
    justify-content: space-around !important;
    align-items: center;
    gap: 20px;
}

.rideone,
.ridetwo {
    padding-right: 25px;
}

.b-money {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.b-money #change {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

.e-money {
    color: var(--text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.e-money #e-change {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

.balance,
.expenses {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
}

.fund .fund-account {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    border-radius: 5px;
    line-height: 27px;
    margin-top: 40px;
}

.pricing {
    margin-top: 100px;
    margin-bottom: 30px;
}

.card-deck .card {
    border-radius: 10px !important;
}

.card-deck .card-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
}

.card p {
    padding: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 156%;
}

.card span {
    padding-right: 1em;
    top: 120;
}

.card .standard {
    background: #2D9CDB;
}

.card .enterprise {
    background: #F2994A;
}

.card .card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.card .choose {
    width: 140px;
    height: 38px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

 @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .fund .fund-account {
       width: 350px;
       height: 60px;
       display: block;
       padding: 1em;
       margin-left: auto;
       margin-right: auto;
    }

    .card .choose {
       width: 300px;
       height: 55px;
       padding-top: 0.8em;
       margin-bottom: 8px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .fund .fund-account {
        width: 300px;
        height: 60px;
        display: block;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .card .choose {
        width: 220px;
        height: 50px;
        padding-top: 0.5em;
        margin-bottom: 15px;
    }
}
