* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text-font: 'Source Sans Pro', sans-serif;
  --white-color: #fff;
  --title-color: #181818;
  --text-color: #7C7C7C;
  --blue-color: #0075FF;
  --hover: #0052B3;
  --border-color: #F8F8F8;
  --faint-grey: #D0C9D6;
}

.content {
  height: 100vh;

}

.section-wrap {
  background-image: url(../images/Ellipse1.svg), url(../images/Ellipse2.svg), url(../images/illus.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 10% top -1%, left -1% bottom -3%, right -13% top -5%;
  background-size: 56%, 42%, 52%;
  background-attachment: fixed;
  min-height: 100vh;

}

.overflow-auto {
  overflow: auto;
}

.btnn {
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 0.875rem;
  font-weight: 600;
  font-family: var(--text-font);
  padding: 1rem;
}

.w-40 {
  width: 100%;
}

/* form section */

.form {
  background: var(--white-color);
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);

}

.form-check-input {

  margin-top: 0.47rem;

}

.form-title {
  font-size: 2.1rem;
  font-family: var(--text-font);
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.001em;

}

.login-text {
  line-height: 30px;
}

.login-text,
.rem {
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 1rem;
  color: var(--text-color);
}

.btn-submit {
  color: var(--white-color);
  background: var(--blue-color);
  width: 127.79px;
  height: 55.05px;
  border-radius: 5px;
  transition: all .3s linear;
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 1.089rem;
  line-height: 26px;
}

.btn-icons {
  margin-top: -4px;
}

.btn-icon {
  margin-left: -16px;
}

.btn:hover {
  background: var(--hover);
  color: var(--white-color);
}

.btn:active,
.btn:hover {
  outline: 0;
  box-shadow: none;
}

.button {
  width: 100%;
}


.form-control {
  width: 100%;
  height: 64.47px;
  background: rgba(214, 214, 214, 0.44);
  border: 1.65306px solid var(--border-color);
  border-radius: 8.26531px;
}


.form-control:active,
.form-control:hover,
.form-control:focus {
  outline: 0;
  box-shadow: none;

}

input::placeholder {
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 0.875rem;
  /* font-size: 1.125rem; */
  color: var(--text-color);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  box-shadow: 0 0 0px 1000px rgba(214, 214, 214, 0.44) inset;
  transition: background-color 5000s ease-in-out 0s;

}

.pa-eye {
  color: var(--faint-grey);
  cursor: pointer;
  margin-left: 90%;

}

.form-group {
  position: relative;
}

.form-group i {
  position: absolute;
  top: 43%;
}

.reset-text {
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: var(--blue-color);
}

.sign-up,
.alt {
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  color: var(--text-color);

}

.inner-sign {
  color: var(--blue-color);
}