/* MEDIA QUERIES FOR 768PX AND ABOVE */
/* Only use the breakpoint necessary to your project */

@media all and (min-width:768px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -106px;
    background-size: 42%, 15%, 35%;
  }
}

@media all and (min-width:992px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -153px;
    background-size: 42%, 15%, 35%;
  }

  .btnn {
    font-size: 1rem;
  }

  .form-title {
    font-size: 3.188rem;

  }

  .form {
    margin-left: 7rem !important;
  }

  .w-40 {
    width: 48%;
  }

  .login-text {
    font-size: 1.5rem;
  }


  .rem {
    font-size: 1.125rem;
  }

  .btn-submit {
    font-size: 1rem;
  }

  input::placeholder {
    font-size: 1.125rem;
  }

  .reset-text {
    font-size: 1.125rem;
  }

  .sign-up,
  .alt {
    font-size: 1.125rem;
  }



}

@media all and (min-width:1200px) {

  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -210px;
    background-size: 42%, 15%, 35%;
  }
}


@media all and (min-width:2560px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -387px;
    background-size: 42%, 15%, 35%;
  }

  .form-full {
    margin-top: 10rem;
  }
}