/* MEDIA QUERIES FOR 768PX AND ABOVE */
/* Only use the breakpoint necessary to your project */

@media all and (min-width:768px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -106px;
    background-size: 42%, 15%, 35%;
  }

}

@media all and (min-width:992px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -153px;
    background-size: 42%, 15%, 35%;
  }

  .appr-text {
    font-size: 2.517rem;
    line-height: 59px;
  }

  .appr-p {
    font-size: 1.5rem;
  }

  /* Table section starts here */

  .adv-tex {
    font-size: 1.659rem;

  }

  .mtt-5 {
    margin-top: 6rem;
  }

  .w-70 {
    width: 90%;
  }

  .login-text,
  .rem {
    font-size: 1rem;
  }

  .btn-submit {
    font-size: 1.5rem;
  }

  input::placeholder {
    font-size: 1.125rem;
  }

  .reset-text {
    font-size: 1.5rem;
  }

  .sign-up,
  .alt {
    font-size: 1.5rem;
  }




}

@media all and (min-width:1200px) {
  .section-wrap {
    background-position: left 10% top -13%, left -1% bottom -3%, right -13% top -210px;
    background-size: 42%, 15%, 35%;
  }
}