@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0075FF;
    --secondary-color: #BDBDBD;
    --aux-color: #FFFFFF;
    --main-color: #F0F7FF;
    --text-color: #EB5757;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background: var(--main-color);
    font-family: 'Source Sans Pro',
        sans-serif !important;
}

aside a:hover {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

.header__link-list-active::after {
    width: 45px;
}

.acct-details-container {
    padding-top: 83px;
}

.acct-details-row {
    justify-content: space-between;
}

.acct-one, .acct-two {
    width: 390px;
}

.acct-bal-img, .expense-img {
    float: left;
    padding: 10px 0 10px 28px;
}

.acct-card {
    border-radius: 20px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
}

.card-body-text {
    overflow: auto;
    padding-left: 25px;
    padding-top: 12px;
}

.card-body-text h5 {
    font-size: 36px;
    font-weight: 600;
}

.bal-kobo {
    color: #BDBDBD;
    opacity: 0.8;
    font-size: 23px;
}

.card-body-text h6 {
    color: #333 !important;
    font-size: 23px;
    font-weight: normal;
    line-height: 30px;
}

.fund-btn {
    background-color: #0075FF !important;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 35px;
    margin-top: 41px;
}


/*.inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: var(--aux-color);
    border-radius: 20px;
    padding: 20px;
    margin-top: 80px;

    display: flex;
    justify-content: space-around !important;
    align-items: center;
    gap: 20px;
}

.rideone,
.ridetwo {
    padding-right: 25px;
}

.b-money {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.b-money #change {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

.e-money {
    color: var(--text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.e-money #e-change {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

.balance,
.expenses {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
}

.fund .fund-account {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    border-radius: 5px;
    line-height: 27px;
    margin-top: 40px;
}*/

.pricing {
    margin-top: 100px;
    margin-bottom: 30px;
}

.card-deck .card {
    border-radius: 10px !important;
}

.card-deck .card-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
}

.card p {
    padding: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 156%;
}

.card span {
    padding-right: 1em;
    top: 120;
}

.card .standard {
    background: #2D9CDB;
}

.card .enterprise {
    background: #F2994A;
}

.card .card-title {
    font-style: normal;
    font-weight: 600;
}

.price-card-title {
    font-size: 40px;
}

.card .choose {
    width: 140px;
    height: 38px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

 @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

    .card .choose {
       width: 300px;
       height: 55px;
       padding-top: 0.8em;
       margin-bottom: 8px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

    .card .choose {
        width: 220px;
        height: 50px;
        padding-top: 0.5em;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1370px) {

    .acct-one, .acct-two {
        margin-right: 30px;
    }

    .fund-btn {
        padding: 15px 35px;
        width: 200px;
    }
}

@media screen and (max-width: 1199.98px) { 

    .main-body {
        margin-left: 200px;
        padding-right: 40px;
        padding-left: 20px;
    }
    
    .acct-details-container {
        padding-top: 70px;
    }
    
    .acct-one, .acct-two {
        width: 300px;
        margin-right: 20px;
    }

    .acct-bal-img, .expense-img {
        padding: 10px 0 10px 10px;
        width: 80px;
    }
    
    .card-body-text {
        padding-left: 20px;
    }
    
    .card-body-text h5 {
        font-size: 32px;
        margin-bottom: 6px;
    }
    
    .bal-kobo {
        font-size: 20px;
    }
    
    .card-body-text h6 {
        font-size: 19px;
    }
    
    .fund-btn {
        font-size: 16px;
        padding: 13px 5px;
        width: 150px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) { 

    .main-body {
        margin-left: 150px;
        padding-right: 30px;
    }
    
    .acct-details-container {
        padding-top: 60px;
    }
    
    .acct-one, .acct-two {
        width: 270px;
        margin-right: 15px;
    }

    .acct-bal-img, .expense-img {
        padding: 10px 0 10px 0;
        width: 50px;
    }

    .card-body {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    
    .card-body-text {
        padding-left: 12px;
    }
    
    .card-body-text h5 {
        font-size: 24px;
        margin-bottom: 2px;
    }
    
    .bal-kobo {
        font-size: 16px;
    }
    
    .card-body-text h6 {
        font-size: 13px;
    }
    
    .fund-btn {
        font-size: 14px;
        padding: 9px 5px;
        width: 110px;
        margin-top: 26px;
    }
}

@media screen and (max-width: 575px) { 

    .main-body {
        margin-left: 0px;
        padding: 20px;
    }
    
    .acct-details-container {
        padding-top: 40px;
    }

    .acct-details-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .acct-one, .acct-two {
        width: 344px;
        margin: 0;
        margin-bottom: 50px;
    }
    
    .acct-bal-img, .expense-img {
        float: left;
        padding: 20px 0 10px 28px;
        width: 110px;
    }
    
    .acct-card {
        border-radius: 20px;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
        height: 144px;
    }
    
    .card-body-text {
        overflow: auto;
        padding-left: 25px;
        padding-top: 25px;
    }
    
    .card-body-text h5 {
        font-size: 33px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    
    .bal-kobo {
        color: #BDBDBD;
        opacity: 0.8;
        font-size: 20px;
    }
    
    .card-body-text h6 {
        color: #333 !important;
        font-size: 22px;
        font-weight: normal;
        line-height: 30px;
    }
    
    .fund-btn {
        background-color: #0075FF !important;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 35px;
        margin-top: 0px;
        width: 344px;
        height: 73px;
    }
}

@media screen and (max-width: 325px) { 
    
    .acct-details-container {
        padding-top: 30px;
    }
    
    .acct-one, .acct-two {
        width: 290px;
        margin: 0;
        margin-bottom: 40px;
    }
    
    .acct-bal-img, .expense-img {
        float: left;
        padding: 20px 0 10px 5px;
        width: 80px;
    }
    
    .card-body-text {
        overflow: auto;
        padding-left: 25px;
        padding-top: 25px;
    }
    
    .card-body-text h5 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    
    .bal-kobo {
        color: #BDBDBD;
        opacity: 0.8;
        font-size: 18px;
    }
    
    .card-body-text h6 {
        color: #333 !important;
        font-size: 17px;
        font-weight: normal;
        line-height: 30px;
    }
    
    .fund-btn {
        background-color: #0075FF !important;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 35px;
        margin-top: 0px;
        width: 290px;
        height: 70px;
    }
}